@{
}

<div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Página no encontrada.</h3>

        <p>
            No podemos encontrar lo que buscas.
            Mientras tanto, puedes volver al inicio. Si crees que es un error puedes comunicarte con informática. 
        </p>
    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->