@{
}

<div class="error-page">
    <h2 class="headline text-danger">500</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Algo salió mal.</h3>

        <p>
            Estamos trabajando por solucionarlo lo más pronto posible.
            Mientras tanto, puedes volver al inicio. Si el problema persiste, reportalo con informática.
        </p>
        <p>
            <a asp-controller="Home" asp-action="Index">Volver al inicio</a>
        </p>
    </div>
</div>
<!-- /.error-page -->
